            /* ROOT VARIABLES */
:root{
    --chosen-font: 'BebasNeueRegular';
    --basic-blue: rgba(0,113,197,1);
    --grey-background: rgba(248, 249, 250, 1);
    --whitey: #F6F9FF;
    --gradient: linear-gradient(145deg, #4FBDFA 0%, #F4F4F4 40%, ,#F4F4F4 60%, #4FBDFA 100%);
    --gradient-flag: linear-gradient(145deg, #4FBDFA 0%, #F4F4F4 50%, ,#F4F4F4 60%, #4FBDFA 100%);
    --bluegradient: linear-gradient(145deg, #193498 0%, #0071c5 100%);
    --second-font: 'GlacialIndifferenceRegular';
    --third-font: 'GlacialIndifferenceBold';
    --toppad: 2.6rem;
}



            /* GENERAL ATTRIBUTES */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: var(--toppad);
    list-style:none;
}
body{
    width:100%;
    height:100%;
    display:block;
    justify-items:center;
    align-items:center;
    background-color: var(--grey-background);

}
header{
    display:block;
    height:20%;
    width:100%;
    justify-content:center;
    align-items:center;
}
            /* LOGO */
.biglogo{
    width:100%;
    display: block;
    justify-content:center;
    align-items:center;
}
h1{
    width:100%;
    height:20%;
    border: solid red 2px;
    text-align: center;
}

@media only screen and (max-width:768px){
    nav.mainmenu{
        width:100%;
        padding:0;
        font-size:1rem;
    }
    div.botones{
        padding:0;
        width:auto;
        height:100%;
        text-align:center;
    }
}


            /* MAIN NAVBAR */
.perolaputamadreotrodivmas{
    display:flex;
    align-items:center;
    position:sticky;
    top:0;
    background:var(--whitey);
    height:var(--toppad);
    z-index:12;

}
nav.mainmenu{
    color:rgba(27,23,37,1);
    justify-content: space-around;
    font-family: var(--chosen-font);
    font-size: 1.3em;
    font-weight:900;
    letter-spacing:0.1em;
    display: inline-flex;
    height:6vh;
    width:50%;
    align-items:center;
}
.botones {
    display:flex;
    text-align:center;
    justify-content:center;
    padding-top:1em;
    width:13em;
    height: 4rem;
    transition:0.3s;
}
.important-buttons{
    padding: 0 1em;
    width:auto;
    height:2em;
    display:flex;
    justify-content:center;
    text-align:center;

    transition: border-bottom 0.3s;
}
.important-buttons:hover{
        border-bottom: 0.3rem solid var(--basic-blue);
        transition: border-bottom 0.2s;
}
                    /* TEAMVIEWER & ANYDESK BUTTONS */
nav.second-mm{
    width:45%;
    font-family:  var(--chosen-font);
    font-size: 1.3rem;
    font-weight:900;
    letter-spacing:0.2em;
    display:inline-flex;
    justify-content:right;
}
a{
    text-decoration: none;
    color:rgba(27,23,37,1);
}
.tvad{
    text-align:center;
    justify-content:center;
    width:8em;
    height:1.3em;
    border-radius:25px;
}
.especialboton2{
    color: rgba(0,113,197,1);
}
.especialboton1{
    color: rgba(209,0,0,1);

}
                    /* FAVOURITES DOCK */
main{
    margin-top:1vh;
    height:120rem;
    width:100%;
    display:grid;
    grid-template: 5% 30% 1% 36% 33% 4% / 100% ;
    justify-content:center;
}

#display-block{
    display:block;
    justify-content:center;
}
h3{
    text-align: center;
    word-spacing:1em;
    font-size:0.8em;
    letter-spacing:0.1em;
    font-family: var(--chosen-font);
}
.display-flex{
    display:flex;
    width:100%;
    justify-content:center;
}
.sites-library{
    display: flex;
    width:auto;
    height:5rem;
    align-items:center;
    justify-content:center;
    margin:0 7rem;
    background-color:rgba(233,236,239,1);
    border-radius:50px;
}
.icon-list{
    display:inline-flex;
    align-items:center;
}
.icons{
    justify-self:center;
    align-self:center;
    color:rgba(58,58,58,1);
    transition:0.3s;
    margin:0.6rem 0.6rem;
    width:2.5rem;
    height:2.5rem;
}
.icons:hover{
    width:2.3rem;
    height:2.3rem;
    margin:0 3rem;
    transform: scale(2.2,2.2);
}
.midheader{
    margin:auto;
    display:grid;
    width:90%;
    height:100%;
    grid-row-start:2;
    grid-row-end:2;
    grid-template: repeat(8, 1fr) / repeat(12, 1fr);
}
.bg-img-rpsv{
    min-width:30%;
    width:90%;
}

@media screen and (max-width:480px){
    h2{
        font-size:10vw;
    }
}
.n28{
    width: 100%;
    height:100%;
    grid-row-start:1;
    grid-row-end:4;
    grid-column-start:1;
    grid-column-end:4;
}

h2{
    display:block;
    padding:1%;
    width:100%;
    height:100%;
    font-family: var(--chosen-font);
    font-size:4vw;
    text-align: left;
    letter-spacing:0.1rem;
    grid-row-start:1;
    grid-row-end:4;
    grid-column-start:4;
    grid-column-end:9;
}
span{
    height:100%;
    width:100%;
    background-image: linear-gradient(45deg, #193498, #0071c5);
    text-decoration:none;
    background-size:0% 17%;
    background-repeat:no-repeat;
    background-position:left bottom;
    transition:background-size 0.7s ease;
    cursor: pointer;
}
span::before{
    background-image: linear-gradient(#193498, #0071c5);
    background-clip:text;
    -webkit-background-clip: text;
    color:transparent;
}
span:hover{
    background-size:100% 17%;
    transition:0.7s ease;
}
.first-image{
    display:flex;
    max-width:100%;
    height:100%;
    grid-row-start:1;
    grid-row-end:8;
    grid-column-start:2;
    grid-column-end:13;
    z-index:-3;
}
                    /* SERVICES BLUE AREA */
.servicios{
    align-items:center;
    margin:0 0;
    width:98%;
    min-width:30%;
    height: calc(100% - 2.6rem);
    justify-items:left;
    justify-self:center;
    background-color: #f8f9fa;
    background-image: linear-gradient(145deg, #193498 0%, #0071c5 100%);
    border-radius:25px;
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end:5;
    display:grid;
    grid-template-rows:repeat(8, 1fr);
    grid-template-columns:repeat(16, 1fr);
    grid-gap:0.3rem 0;
}
.big-man{

    width:100%;
    height:100%;
    grid-row-start:7;
    grid-row-end:10;
    grid-column-start:1;
    grid-column-end:3;
    z-index:10;
    object-fit:cover;

}
@media screen and (max-width: 800px) {
    .each-card{
        position:center;
        margin-left:1%;
    }
}


.each-card{
    grid-column-start:2;
    grid-column-end:6;
    margin-left:5%;
    position:left;
    display:flex;
    width:15%;
    min-width:30vw;
    height:2.7em;
    background-color:rgba(222,226,230,1);
    border-radius:3px;
    font-size:1.8rem;
    font-family: var(--second-font);
    box-shadow:0 0.1em 0.3em rgba(11,9,10,0.5);
    justify-content: space-between;
    align-items:center;
    transition:opacity 0.5s;
    cursor: pointer;
}
#button1{
    grid-row-start:2;
    grid-row-end:3;
    cursor:pointer;

}
#button2{
    grid-row-start:3;
    grid-row-end:4;
    cursor:pointer;
}
#button3{
    grid-row-start:4;
    grid-row-end:5;
}
#button4{
    grid-row-start:5;
    grid-row-end:6;
    cursor:pointer;
}
#button5{
    grid-row-start:6;
    grid-row-end:7;
    cursor:pointer;
}
#button6{
    grid-row-start:7;
    grid-row-end:8;
    cursor:pointer;
}
h6{
    margin-left:1vw;
    width:50%;
}
.subgrid-info{
    grid-row-start:2;
    grid-row-end:8;
    grid-column-start:8;
    grid-column-end:16;
    width:100%;
    height:100%;
    margin:auto;
    justify-self:center;
    display:grid;
    grid-template-rows: 4fr 0.5fr 4fr;
}
h4{
    font-family: var(--second-font);
    font-size:4vw;
    display:block;
    min-width:30%;
    width:80%;
    height:7rem;
    position:bottom;
    color:var(--whitey);
}
.item-description{
    grid-row-start:3;
    grid-row-end:4;
    font-family: var(--second-font);
    color: var(--whitey);
    font-size:2vw;
}
#interchangableText{
    opacity: 0;
}

@media screen and (max-width:1250px){
    .item-description{
        font-size: 1.7rem;
    }
}
                    /* CONTACT */
.little-icons{
    width:4em;
    height:6em;
    fill:rgba(0,113,197,1);
}
.imgs{
    width:500px;
    height:100%;
    object-fit:cover;
    border-radius:3px;

}

.imagetitle{
    font-family:'NowRegular';
    font-size:2em;
}
.na-icons{
    margin-right:1em;
    width:15%;
}
.contact-info{
    display:flex;
    height:95%;
    margin:2% 0;
    grid-row-start:5;
    grid-row-end:6;
}
.artwork{
    margin:5%;
}
@media screen and (max-width:1100px){

}

.f-container{
    width:50%;
    height:95%;
    margin-left:1vw;
    background-color:rgba(233,236,239,1);
    border-radius:25px;
}
.space{
    padding: 2.5em 2.5em 1em 2.5em;

}
.google-maps{
    display:flex;
    justify-content:center;
    width:100%;
    height:57%;
}
iframe{
    width:90%;
    height:90%;
    border-radius:25px;
    border: 2px solid black;
    object-fit:scale-down;

}
.dir{
    font-family: var(--third-font);
    display:block;
}
.phone{
    font-family: var(--third-font);
    display:block;
}
.email{
    font-family: var(--third-font);
    display:block;
}
#tinyicons{
    display:inline-flex;
}
footer{
    grid-row-start:6;
    grid-row-end:8;
    display:flex;
    justify-self:center;
    justify-content: right;
    align-items:center;
    width:100%;
    height:80%;
    background-image: linear-gradient(145deg, #193498 0%, #0071c5 100%);

}
.signature{
    align-items:center;
    color: var(--whitey);
    height:100%;
    font-family:var(--third-font);
    display:flex;
    width:20%;
}
@media screen and (max-width:950px){
    .signature{
        width:80%;
    }
}
.mierdecillas{
    display:flex;
    width:5%;

}
.afip{
    width:2.5vw;
    height:6.5vh;
    justify-self:center;
}

@media screen and (max-width:550px){
    main{
        display:none;
    }
    .perolaputamadreotrodivmas{
        display:none;

    }
    div.serv-mob{
        display:grid;
        justify-items:center;
        width:100%;
        height:90rem;
        grid-template: 3fr 4fr 3fr 1fr / 100%;
        grid-gap:2%;
    }
    .mob-intro{
        width:100%;
        height:100%;
        grid-row-start:1;
        grid-row-end:2;

    }
    p.maintitle{
        font-size:3rem;
        width:100%;
        text-align:center;
        font-family:var(--chosen-font);

    }
    .bg-img-rpsv{
        width:80vw;
        display:flex;
        justify-self:center;
    }
    .service-mobile-buttons{
        display:block;
        grid-row-start:2;
        grid-row-end:3;
    }
    .grid-mob{
        display:block;
        justify-items:center;
    }
    .mob-btns{
        display:flex;
        width:98%;
        margin:2rem auto;
        min-width:30vw;
        height:4.5rem;
        background-color:rgba(222,226,230,1);
        font-size:1.5rem;
        font-family: var(--chosen-font);
        box-shadow:
                    -1rem 0 rgba(11,9,10,1),
                    0 1rem rgba(11,9,10,1),
                    -1rem 1rem rgba(11,9,10,1);
        justify-content: space-around;
        align-items:center;
        border:none;
    }
    .mob-btns:active{
                box-shadow:
                    -0.5rem 0 rgba(11,9,10,1),
                    0 0.5rem rgba(11,9,10,1),
                    -0.5rem 0.5rem rgba(11,9,10,1);
        transform:translateX(-0.5rem) translateY(0.5rem);
    }
    button{

    }
      path{
        fill: var(--whitey);
    }
    .contact-area-mob{
        color: var(--whitey);
        display:block;
        grid-row-start:3;
        grid-row-end: 4;
        width:90%;
        padding:15px;
        background-image:var(--bluegradient);
        border-radius:25px;
    }
    .signature-mob{
        display:flex-box;
        justify-items:center;
        align-items:center;
        width:100%;
        height:100%;
        background-image: linear-gradient(145deg, #193498 0%, #0071c5 100%);
        grid-row-start:4;
        grid-row-end:5;
    }
    .mab-cr{
        text-align:center;
        align-items:center;
        color: var(--whitey);
        height:25%;
        display:block;
        font-family:var(--third-font);
        margin:2%;
        width:98%;
    }
    .mierdecillas-mob{


    }
    .afip{
        display:flex;
        align-self:center;
        margin:auto;
        width:2.3rem;
        height:3.5rem;
    }

}
@media screen and (min-width:550px){
    div.serv-mob{
        display:none;
    }
}
::-webkit-scrollbar{
    width:1rem;
}
::-webkit-scrollbar-track{
    background:rgba(233,236,239,1);
}
::-webkit-scrollbar-thumb{
    background: var(--bluegradient);
}
@media only screen and (max-width: 900px) {
    div.display-flex{
        display: none;
    }
    div.sites-library{
        display: none;
    }
    div#display-block{
        display:none;
    }
    p.item-description{
        font-size:1.5rem;
    }
    nav.second-mm{
        display:none;
    }
    .especialboton1{
        display:none;
    }
    .especialboton2{
        display:none;
    }
    nav.mainmenu{
        width:100%;
    }
    .contact-info{
        background-size:cover;
    }
    main{
    grid-template: 30% 1% 36% 33% 4% / 100% ;
    }
    .midheader{
    grid-row-start:1;
    grid-row-end:1;
    }
    .servicios{
        grid-row-start:3;
        grid-row-end:4;
    }
    .contact-info{
        grid-row-start:4;
        grid-row-end:5;
    }
    footer{
        grid-row-start:5;
        grid-row-end:6;
    }
}

















